.botao{
    background-color: #00ff00;
    border: none;
    padding: 10px;   
}
.botao1{
    background-color: red;
    border: none;
    padding: 10px;   
}
.botao2{
    background-color: rgb(0, 60, 255);
    border: none;
    padding: 10px;   
}